.formContainer {
  border: 2px solid rgb(178, 178, 178);
  border-radius: 10px;
  width: 50%;
  margin: 10px auto;
  padding: 10px;

  box-shadow: 10px 10px 10px 10px rgb(160, 160, 160);
}

h1 {
  text-align: center;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form > input {
  padding: 3px;
  font-size: 20px;
}

form > button {
  padding: 10px;
  margin: 10px auto;
  align-self: center;
  width: 25%;
  font-size: 25px;
  border-radius: 10px;
  border: 2px solid rgb(178, 178, 178);
  background-color: transparent;
}

.signInPara {
  text-align: center;
}

li {
  list-style: none;
  color: red;
}
